/*define que o documento deve ter a altura 100% disponível*/
/*remove a margem padrão que o navegador coloca, isso ajuda a imagem a ocupar o espaço inteiro da página*/
html{ 
    margin: 0; 
    height: 100%; 
} 

body{ 
    margin: 0; 
    height: 100%; 
    font-family: Arial, sans-serif; 
} 

.fundo{ 
    height: 100%;
    background-color: rgb(176, 234, 238);

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px; 
} 

/*altura 100% significa que a imagem do fundo vai ocupar 100% a altura do elemento pai 
Isso faz o fundo ocupar a altura da página.
background-cover - Aumenta ou diminui a imagem para que ela cubra todo o espaço.*/
.calculadora{ 
    width: 30%; 
    background-color: rgb(13, 102, 109); 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
} 

.calculadora h1{ 
    margin-top: 0; 
    font-size: 32px; 
} 

.descricao{ 
    font-size: 17px; 
} 

.informacoes{ 
    background-color: rgb(212, 212, 212); 
    padding: 10px; 
    margin-bottom: 25px;
    margin-top: 30px;  
    border-radius: 8px; 
    width: 60%; 
    margin-left: 75px;
} 

.info_2{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 

.info_2 input{ 
    width: 55%; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 16px; 
} 

button{ 
    margin-top: 20px; 
    padding: 12px; 
    border-radius: 6px; 
    background-color: rgb(182, 182, 182); 
    color: rgb(0, 0, 0); 
    font-size: 16px; 
} 

.resultado{ 
    margin-top: 10px; 
    background-color: #c0c0c0; 
    border-radius: 10px; 
    padding: 20px; 
} 

.resultado h2{ 
    margin-top: 0; 
} 

.resultado span{ 
    font-weight: bold; 
} 

.inicio{ 
    text-align: left; 
} 

.observacao{ 
    font-size: 13px; 
    color: rgb(90, 90, 90); 

} 

/*Dentro do editor, complete os seguintes passos: 
Defina a divlargura para 300px 
Adicione 25px de preenchimento (espaço dentro da borda). 
Adicione uma borda de 5px em azul marinho sólido. 
Adicione 20px de margem (espaço fora da borda). 

 
 
 